
:root{
    --cor-primaria: #1E1E1E;   
    --cor-secundaria: #F5F5F5; 
    --cor-destaque: #E63946;   
    --cor-texto: #333333; 
    --fonte-titulo: "Poppins", system-ui, sans-serif;
    --fonte-corpo: "Open Sans", system-ui, sans-serif;
}
body{
  margin: 0;
}

.titulo{
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
}

.texto{
    font-family: var(--fonte-corpo);
    color: var(--cor-texto);

}
.site-header{
  background: var(--cor-secundaria);
}

.header-div{
  display:flex;
  align-items:center; 
  gap: 16px;  
    justify-content:space-between; 
}

.nav a{
    text-decoration:none; 
    color: var(--cor-primaria);
    font-weight: 600;
    padding: 8px 12px;
}

.logo{ width: 160px; height:80px; }

/* ================ MAIN ======================*/

/* ================ footer ======================*/

.site-footer{
  background:#f7f7f7;
  color:#333;
  font-family: var(--fonte-corpo);
}

.footer-coluna ul{ 
    list-style:none; 
    padding:0; 
}
.footer-coluna a{ 
    color:var(--cor-primaria); 
    text-decoration:none; 
}

.footer-coluna h3{
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
}

.footer-junto{
  display:flex;
  gap:2rem;
  justify-content:space-between;
  flex-wrap:wrap;
  padding:2rem 0;
}
.sapatos-row,.camisetas-row,.calcas-row{
  display: flex;
  justify-content: center;
}
.produto-card {
  width: 280px;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin: 10px;
}

.produto-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.produto-imagem {
  width: 100%;
  height: 230px;
  object-fit: cover;
  background-color: #f6f6f6;
}
.produto-info {
  padding: 15px;
  text-align: left;
  background-color: #ececec;
}

.preco {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #111;
}

.nome-produto {
  margin: 0;
  font-size: 1rem;
  color: #222;
}

.categoria {
  color: #666;
  font-size: 0.9rem;
  margin: 3px 0;
}

.detalhes {
  color: #999;
  font-size: 0.85rem;
  margin: 3px 0;
}

.frete {
  color: #0071e3;
  font-size: 0.9rem;
  margin-top: 5px;
}
main h2{
  padding-left:300px;
}
.hero-section {
  background-image: url('../img/impacto.png');
  background-size: cover;
  background-position: center;
  height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 50px;
  color: white;
  position: relative;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* escurece a imagem pra destacar o texto */
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #f0f0f0;
}

